.Navigation {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.mobileNav{
  display: none;
}
.Navlist {
  list-style: none;
  padding: 5rem 0;
}
.Navlist > li {
  text-decoration: none;
  display: inline;
  padding: 0 3rem;
}
.Nav {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(36, 35, 35);
}
.active {
  color: #5fb4a2;
}
@media only screen and (max-width: 425px) {
  .Navigation {
    display: none;
  }
  .mobileNav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 3rem;
    position: relative;
    
  }
  .mobileNav > h1 {
    font-size: 3.5rem;
    font-family: "Lobster", cursive;
  }
  .mobileList > ul {
    list-style: none;
    padding: 2rem 4rem;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 3rem;
    position: absolute;
    right: 0;
    z-index: 2;
  }
  .mobileList > img {
    position: absolute;
    right: 0;
   margin-bottom: 3rem;
  }
  .active{
    display: block;
  }
  .inactive{
    display: none;
  }
  .mobileList > ul > li {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    padding: 1rem 0;
  }
  .mobileList > ul > li > * {
    color: white;
  }
}
