body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
h1 {
  font-family: "Ibarra Real Nova", serif;
  color: #33323d;
}
p {
  font-family: "Public Sans", sans-serif;
}
button {
  cursor: pointer;
  white-space: nowrap;
}
a {
  text-decoration: none;
}
@media only screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
}
